.root {
    display: flex;
}

.dots {
    display: none;
}

.control {
    font-size: var(--mantine-font-size-lg);

    &:first-child:not(:disabled),
    &:last-child:not(:disabled) {
        color: var(--mantine-color-gray-6);
    }

    &:first-child:disabled,
    &:last-child:disabled {
        color: var(--mantine-color-gray-3);
        opacity: 1;
        border-color: var(--mantine-color-gray-3);
    }
}
